
.calender {
    background-color: #0B1942;
    padding: 45px 0 45px 0;
    display: flex;
    flex-wrap: wrap;
}

.meetup-title {
    color: #0B1942;
    padding: 15px;

}

.date-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.date {
    background: white;
    width: calc(100% / 7);
    padding-bottom: calc(100% / 7);
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    outline: 1px solid #0B1942;
    
}  

.date p {
    background: #0B1942;
    color: white;
    width: 2rem;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
}


.selected {
    background: #F5005B;
}