
.calender {
    background-color: #0B1942;
    padding: 45px 0 45px 0;
    display: flex;
    flex-wrap: wrap;
}

.meetup-title {
    color: #0B1942;
    padding: 15px;

}

.date-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 100%;*/
}

.date {
    background: white;
    width: 14.25%;
    height: 13vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    outline: 1px solid black;
    /*flex: stretch;*/
}  

.date p {
    background: #0B1942;
    color: white;
    margin: 0;
    width: 5vw;
    height: 5vw;
    font-size: 12px;
    text-align: center;
    /*line-height: 40px;*/
}

.selected {
    background: #F5005B;
}

@media (min-width: 320px){

    .date p{
        line-height: 1.5em;
        padding: 5px;
    }

}

@media (min-width: 545px){

    .date p {
        line-height: 2rem;
    }




@media (min-width: 746px){

.date p {
        line-height: 3rem;
    }

}
